{% extends 'base.html' %}

{% block content %}

<style>
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: black;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #bfeeff;
}

.right {
  right: 0;
  background-color: #c4ffb9;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 200px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Small screens (mobile phones) */
@media only screen and (max-width: 600px) {
  .split {
    width: 100%;
    height: auto;
    position: relative;
  }

  .left, .right {
    width: 100%;
    height: auto;
  }

  .centered {
    position: static;
    transform: none;
  }

  .centered img {
    width: 100%;
    max-width: 200px;
  }

  .button {
    font-size: 16px;
    padding: 10px 20px;
  }
}

</style>

<body>

<div class="split left">
  <div class="centered">
    <img src="https://cdn-icons-png.flaticon.com/512/4144/4144740.png" alt="Avatar woman">
    <a href="{{ url_for('record_video') }}">
      <h1><button class="button">Click to start recording!</button></h1>
    </a>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <img src="https://cdn-icons-png.flaticon.com/512/3314/3314478.png" alt="Avatar man">
    <a href="{{ url_for('pictures') }}">
      <h1><button class="button">Click to upload your pictures and anonymize them!</button></h1>
    </a>
  </div>
</div>

</body>

{% endblock %}
