{% extends "base.html" %}

{% block content %}
<style>
body {
  margin: 0;
  padding-top: 60px; /* Add padding to the top of the body to accommodate the fixed navbar */
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.discordapp.com/attachments/814243244920537088/1110949496935960711/Untitled_Artwork.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8; /* Adjust the opacity as desired */
  z-index: -1; /* Push the background image behind other elements */
}

.container {
  text-align: center;
  margin-top: 30px;
}


h1 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

.btn-lg {
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.btn-lg:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@media (max-width: 576px) {
  h1 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .btn-lg {
    font-size: 14px;
    padding: 10px 20px;
  }
}
</style>

<div class="background-image"></div>

<div class="container">
  <h1>Hi, {{ current_user.username }}!</h1>
  {% for image in images %}
  <div><p>{{ image.author.username }} says: <b>{{ image.data }}</b></p></div>
  {% endfor %}
  <p>Welcome to FaceWard!</p>
  <p>First, we will take a video of you to capture images of your face. Then, you can upload the photos you would like to anonymize, and we are done!</p>
  <a href="{{ url_for('anon') }}">
    <button class="btn btn-primary btn-lg">Let's get started!</button>
  </a>
</div>

{% endblock %}

